a {
    text-decoration: none;
}
a:visited {
  color: inherit;
  text-decoration: none;
}
a:active {
  text-decoration: none;
  color: inherit;
}

body, h1, p, ul {
    margin: 0;
    padding: 0;
}

/* Apply a background color to the body */
body {
    background-color: #f4f4f4;
    font-family: 'Arial', sans-serif;
}

/* Style the header */
h1 {
    color: #333;
    background-color: #b3b3b3;
    padding: 10px;
    margin-left: 5px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}

/* Style the search input and button */
label {
    display: block;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 5px;
    padding-top: 5px;
    color: black;
}

input[type="text"] {
    width: 25em;
    padding: 8px;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: #45a049;
}

#back {
    display: grid;
}

.searchM {
    background-color: grey;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.movieDetails {
    display: grid;
    grid-template-columns: auto auto;
    padding: 15px;
    background-color: grey;
    color: black;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.mTitle {
    font-size: 2em;
    font-weight: bold;
}

.posterDetails {
    max-width: 300px;
    height: auto;
    margin-right: 15px;
    cursor: pointer;
}

.posterImg {
    max-width: 150px;
    height: auto;
    margin-right: 15px;
    cursor: pointer;
}

.sMovies {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 250px;
}

.similarMovies {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: space-evenly;
    text-align: center;
    padding: 15px;
    background-color: grey;
    color: black;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.upcomingMovies {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: space-evenly;
    text-align: center;
    padding: 15px;
    background-color: grey;
    color: black;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.um {
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

.uMovies {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 250px;
}

.tsm {
    margin-left: 15px;
    margin-right: 15px;
}

.banner {
    height: 350px;
    background-size: cover;
    margin-left: 15px;
    margin-right: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.result {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: space-evenly;
    padding: 15px;
    background-color: grey;
    color: black;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.searchMovies {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: space-evenly;
    text-align: center;
    padding: 15px;
    background-color: grey;
    color: black;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}